


{{ $subtitle := .Params.subtitle | default "Game Subtitle" }}

{{ $title := .Title | emojify }}

{{ $image := .Params.image | default "https://files.facepunch.com/lewis/1b2911b1/rust-marque.svg" }}

{{ $description := .Description | default "Game Description" }}



<a href="{{ .RelPermalink }}">
  <div class="banner_wrapper">
    <div class="banner">
      {{/*  {{ with .Params.banner }}
      <img
      src="{{ $.Params.banner }}"
      alt="{{ $.Title | emojify }}"
      class="banner__image nozoom"
      />
      {{ end }}  */}}
{{ if isset .Params "banner" }}
  {{ $image := .Resources.GetMatch .Params.banner }}
  {{ with $image }}
    {{/*  {{ $optimized := .Resize "800x webp" }}  */}}
    {{ $small := .Resize "400x webp" }}
    {{ $medium := .Resize "800x webp" }}
    {{ $large := .Resize "1200x webp" }}
    <picture>
      <source media="(max-width: 480px)" srcset="{{ $small.RelPermalink }}" type="image/webp">
      <source media="(max-width: 960px)" srcset="{{ $medium.RelPermalink }}" type="image/webp">
      <img src="{{ $large.RelPermalink }}" alt="{{ $.Title | emojify }}" width="{{ $large.Width }}" height="{{ $large.Height }}" class="banner__image nozoom">
    </picture>
    {{/*  <img 
      src="{{ $optimized.RelPermalink }}" 
      alt="{{ $.Params.featured_alt }}" 
      width="{{ $optimized.Width }}" 
      height="{{ $optimized.Height }}"
      class="banner__image nozoom">  */}}
  {{ end }}
{{ end }}
    </div>

    
    <div class="card__wrapper">
      <div class="card">
        <div class="card__info">
          {{ if isset .Params "avatar" }}
  {{ $image := .Resources.GetMatch .Params.avatar }}
  {{ with $image }}
    {{ $optimized := .Resize "300x webp" }}
    <img 
      src="{{ $optimized.RelPermalink }}" 
      alt="{{ $.Params.featured_alt }}" 
      width="{{ $optimized.Width }}" 
      height="{{ $optimized.Height }}"
      class="card__avatar nozoom">
  {{ end }}
{{ end }}
          <div>
            <span>{{ $.Title | emojify }}</span>
            <p>{{ .Params.subtitle }}</p>
          </div>
        </div>
        <button>Get</button>
      </div>
    </div>
  </div>
</a>

<div class="banner_wrapper">
  <div class="banner">
    <img
      src="https://shared.akamai.steamstatic.com/store_item_assets/steam/apps/252490/header.jpg?t=1715591843"
      alt="Banner Game"
      class="banner__image"
    />
  </div>
  <div class="card__wrapper">
    <div class="card">
      <div class="card__info">
        <img
          src="https://files.facepunch.com/lewis/1b2911b1/rust-marque.svg"
          alt="Game"
          class="card__avatar"
        />
        <div>
          <span>Rust</span>
          <p>Wilderness</p>
        </div>
      </div>
      <button>Get</button>
    </div>
  </div>
</div>
<div class="banner_wrapper">
  <div class="banner">
    <img
      src="https://shared.akamai.steamstatic.com/store_item_assets/steam/apps/4000/header.jpg?t=1710347075"
      alt="Banner Game"
      class="banner__image"
    />
  </div>
  <div class="card__wrapper">
    <div class="card">
      <div class="card__info">
        <img
          src="https://files.facepunch.com/lewis/1b1311b1/gmod-logo.svg"
          alt="Game"
          class="card__avatar"
        />
        <div>
          <span>Garry's Mod</span>
          <p>Physics Sandbox</p>
        </div>
      </div>
      <button>Get</button>
    </div>
  </div>
</div>
<div class="banner_wrapper">
  <div class="banner">
    <img
      src="https://shared.akamai.steamstatic.com/store_item_assets/steam/apps/1567020/capsule_616x353.jpg?t=1676560649"
      alt="Banner Game"
      class="banner__image"
    />
  </div>
  <div class="card__wrapper">
    <div class="card">
      <div class="card__info">
        <img
          src="https://static.bandainamcoent.eu/high/the-dark-pictures/the-devil-in-me/00-page-setup/tdim_header_mobile_new-keyart.jpg"
          alt="Game"
          class="card__avatar"
        />
        <div>
          <span>The Devil In Me</span>
          <p>Survivor Horror</p>
        </div>
      </div>
      <button>Get</button>
    </div>
  </div>
</div>

<style>
  .card__wrapper {
    display: flex;
    flex-direction: row;
  }

  .card {
    display: flex;
    width: 300px;
    padding: 1rem;
    background-color: #dddddd;
    border-radius: 0px 0px 12px 12px;
    justify-content: space-between;
    align-items: center;
  }

  .card__info {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
  }

  .card__avatar {
    width: 35px;
    height: 35px;
    border-radius: 10px;
    object-fit: cover;
    background-color: black;
  }

  .card__info span {
    color: #050505;
    font-size: 16px;
    font-weight: 500;
    line-height: initial;
  }

  .card__info p {
    font-size: 13px;
    font-weight: 400;
    line-height: initial;
  }

  .card__wrapper {
     button {
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 14px;
    background-color: #2d80ff;
    font-weight: 400;
    color: #fff;
    font-family: inherit;
    cursor: pointer;
    transition: 0.3s all ease;

    span {
      font-size: 12px;
      color: #202020;
    }
  }
}

  button:hover {
    opacity: 0.8;
  }

  button:active {
    transform: scale(0.9);
  }

  .banner__wrapper {
    position: relative;
    overflow: hidden;
  }

  .banner {
    position: relative;
    width: 100%;
    height: 150px;
  }

  .banner img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 12px 12px 0px 0px;
  }

  .games {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  @media (max-width: 768px) {
    .games{
      align-items: center;
      justify-content: center;
    }
  }

  html:is(.dark) .card {
    background-color: #1a1a1a;
  }               
  
  html:is(.dark) .card__info span {
    color: #fff;            
  }               

  html:is(.dark) .card__info p {
    color: #919191;
  }               

</style>
