.min-h-\[148px\] {
  min-height: 100px;
}

body a,
body button {
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

#menu-blur{
  /* opacity: 1; */
  /* background-color: aqua; */
  /* border-bottom-width: 1px; */
}

.fixed{
  /* background-color: rgb(30, 41, 59); */
  /* color: rgb(255, 255, 255); */
  /* height: 60px; */
}


#menu-wrapper{
  /* background-color: aqua; */
  display: flex;
  /* align-items: center; */
  /* flex-direction: column; */
  /* justify-content: center; */
  /* align-content: center; */
}

#menu-wrapper, ul{
  /* background-color: aquamarine; */
  display: grid;
  /* flex-direction: column; */
  /* justify-content: center; */
  /* align-content: start; */
  /* align-items: center; */
  /* width: 100%; */
  /* text-align: center; */
}

#menu-wrapper, ul, li,span{
  text-align: center;
}
