.min-h-\[148px\] {
  min-height: 100px;
}

body a,
body button {
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

#menu-blur {
  /* opacity: 1;  */
  /* background-color: aqua; */
  /* border-bottom-width: 1px; */
}

.fixed {
  /* background-color: rgb(30, 41, 59); */
  /* color: rgb(255, 255, 255); */
  /* height: 60px; */
}


#menu-wrapper {
  /* background-color: aqua; */
  display: flex;
  /* align-items: center; */
  /* flex-direction: column; */
  /* justify-content: center; */
  /* align-content: center; */
  /* background-color: #1a1c1e; */
}

#menu-wrapper,
ul {
  justify-content: flex-start;
  /* align-content: start; */
  align-items: flex-start;
  /* width: 100%; */
  /* text-align: center; */
}

#menu-wrapper ul {
  margin-top: 0;
}

#menu-wrapper ul li {
  background-color: aliceblue;
  display: block;
  width: 100%;
  padding: 8px;
  border-radius: 6px;
}

html:is(.dark) #menu-wrapper ul li {
  background-color: #171718;

}


#menu-wrapper ul li a {
  text-decoration: none;

}

#menu-wrapper ul #menu-close-button {
  background-color: transparent;
}



.logo svg {
  width: 3rem;
  height: 3rem;
}